/*css-reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: black;
}

body:not(h1) {
  font-family: 'Roboto', sans-serif;
}

body:not(h1) h3 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 3%;
}

header {
  text-align: center;
  margin-bottom: 0px;
  -webkit-box-shadow: #a0a0a0 0px 1px 8px 1px;
          box-shadow: #a0a0a0 0px 1px 8px 1px;
  position: relative;
  padding-bottom: 8px;
}

header .logo {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 2px;
  height: 100%;
  width: 230px;
}

.container--localisation {
  background-color: #e4e4e4;
  padding: 20px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #363636;
}

.container--localisation .city {
  margin-left: 10px;
}

.container--lightgrey {
  background-color: #f1f1f1;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

.container--lightgrey h2 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.container--lightgrey p {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: #000000b3;
  margin-bottom: 40px;
}

.container--lightgrey button {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  border: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  -webkit-box-shadow: 2px 5px 8px 0px #a8a8a8;
          box-shadow: 2px 5px 8px 0px #a8a8a8;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

.container--lightgrey button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.container--white {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container--white h3 {
  margin-bottom: 40px;
}

.container--white .btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
}

.container--white .btn__container button {
  width: 80%;
  padding: 30px 20px;
  padding-right: 30px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 6px 8px 1px rgba(128, 128, 128, 0.3);
          box-shadow: 3px 6px 8px 1px rgba(128, 128, 128, 0.3);
}

.container--white .btn__container button i {
  color: grey;
  font-size: 20px;
  margin-right: 25px;
}

.container--white .btn__container button .item {
  font-size: 18px;
}

.container--white .btn__container button:hover {
  background-color: rgba(147, 86, 220, 0.1);
  -webkit-box-shadow: 3px 6px 8px 1px rgba(128, 128, 128, 0.5);
          box-shadow: 3px 6px 8px 1px rgba(128, 128, 128, 0.5);
}

.container--white .btn__container button:hover i {
  color: #9356DC;
}

.container__menu {
  padding: 60px 10px;
  background-color: #f2f2f2;
}

.container__menu .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__menu .card__description .card {
  margin: 20px 10px;
  background-color: #ffffff;
  height: 190px;
  border-radius: 10px;
  padding-bottom: 25px;
  -webkit-box-shadow: 2px 5px 8px 0px #e0e0e0;
          box-shadow: 2px 5px 8px 0px #e0e0e0;
}

.container__menu .card__description .card img {
  width: 100%;
  height: 78%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container__menu .card__description .card .description--resto h4 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 5px;
}

.container__menu .card__description .card .description--resto p {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 20px;
}

.container__menu .card__description button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  position: absolute;
  background-color: transparent;
  right: 0;
  margin-top: 180px;
  margin-right: 40px;
  text-decoration: none;
}

.container__menu .card__description button i {
  font-size: 24px;
}

.container__menu .card__description button .on {
  position: absolute;
  color: transparent;
}

.container__menu .card__description button .on:hover {
  color: #9356DC;
}

.footer__list {
  background-color: #3c3d41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
  line-height: 25px;
  padding-bottom: 40px;
  color: #ffffff;
}

.footer__list h1 {
  font-family: 'Shrikhand';
  font-size: 25px;
  margin-bottom: 20px;
}

.footer__list i {
  width: 20px;
  height: 20px;
  margin-right: 2%;
  color: #ffffff;
}

.footer__list .contact {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */