/*css-reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Roboto';
}

body a {
  text-decoration: none;
  color: #000000;
}

header .container--text {
  background-color: #f2f2f2;
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 1px 2px 8px 2px #030303;
          box-shadow: 1px 2px 8px 2px #030303;
}

header .container--text i {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 20px;
  padding-top: 25px;
  font-size: 20px;
}

header .container--text .logo--black {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
}

header .container--image {
  height: 250px;
  background-color: aqua;
  position: absolute;
  z-index: -1;
}

header .container--image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 25px 15px;
  background-color: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: 210px;
}

section .restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .restaurant h2 {
  font-family: 'Shrikhand',cursive;
  font-size: 22px;
}

section .restaurant i {
  position: absolute;
  right: 0;
  margin-right: 20px;
  font-size: 22px;
}

section .menu {
  background-color: white;
}

section .menu .item {
  padding-top: 20px;
  padding-bottom: 20px;
  /* keyframes pour les animations apparitions en cascade */
}

section .menu .item h3 {
  font-size: 18px;
  width: 50px;
  padding-bottom: 2px;
  border-bottom: #6dda7c solid 2px;
}

section .menu .item .container--cards {
  /*animation des cartes au hover*/
}

section .menu .item .container--cards .card {
  background-color: #ffffff;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  -webkit-box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
}

section .menu .item .container--cards .card::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: white;
  width: 100%;
  height: 80px;
}

section .menu .item .container--cards .card--dish {
  width: 75%;
  margin: 4px;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card--dish h4 {
  font-size: 18px;
  font-weight: bold;
}

section .menu .item .container--cards .card--dish p {
  text-overflow: ellipsis;
}

section .menu .item .container--cards .card--price {
  padding-top: 20px;
  margin-right: 5px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card--checked {
  background-color: #6dda7c;
  padding-top: 18px;
  text-align: center;
  width: 80px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card--checked i {
  color: #ffffff;
  font-size: 22px;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .card--dish {
  width: 70%;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .card--price {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .card--checked {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .card--checked i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .first {
  -webkit-animation: slide-in 1s ease-out 50ms, shadow-b 1s;
          animation: slide-in 1s ease-out 50ms, shadow-b 1s;
}

section .menu .item .container--cards .first::after {
  -webkit-animation: fade-out 1s;
          animation: fade-out 1s;
}

section .menu .item .container--cards .second {
  -webkit-animation: slide-in 1s ease-out 200ms, shadow-b 1.5s;
          animation: slide-in 1s ease-out 200ms, shadow-b 1.5s;
}

section .menu .item .container--cards .second::after {
  -webkit-animation: fade-out 1.5s;
          animation: fade-out 1.5s;
}

section .menu .item .container--cards .third {
  -webkit-animation: slide-in 1s ease-out 250ms, shadow-b 2s;
          animation: slide-in 1s ease-out 250ms, shadow-b 2s;
}

section .menu .item .container--cards .third::after {
  -webkit-animation: fade-out 2s;
          animation: fade-out 2s;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shadow-b {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes shadow-b {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
  }
}

section .menu .item .btn {
  text-align: center;
  background-color: crimson;
}

section .menu .item .btn button {
  border: none;
  font-family: 'Roboto';
  font-size: 18px;
  padding: 18px;
  border-radius: 30px;
}

footer {
  background-color: #313131;
  padding: 20px;
}

footer .logo--white {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

footer .footer__description {
  font-size: 15px;
}

footer .footer__description .description {
  line-height: 20px;
  color: #ffffff;
}

footer .footer__description .description .hands {
  font-size: 16px;
}

footer .footer__description .description .ustensils {
  margin-right: 5px;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */