/*css-reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Roboto';
}

@-webkit-keyframes loading__spinner {
  0% {
    color: #f82aff;
    opacity: 1;
  }
  100% {
    color: #1e53ff;
    opacity: 1;
  }
}

@keyframes loading__spinner {
  0% {
    color: #f82aff;
    opacity: 1;
  }
  100% {
    color: #1e53ff;
    opacity: 1;
  }
}

@-webkit-keyframes spinner__rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 4;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    z-index: 4;
  }
}

@keyframes spinner__rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 4;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    z-index: 4;
  }
}

@-webkit-keyframes loading__screen {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 1;
    z-index: 3;
  }
}

@keyframes loading__screen {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 1;
    z-index: 3;
  }
}

body .load {
  text-align: center;
  width: 100%;
  height: 100%;
}

body .load .screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
  -webkit-animation: loading__screen 3s;
          animation: loading__screen 3s;
}

body .load .fa-spinner {
  font-size: 55px;
  color: #ffffff;
  opacity: 0;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  z-index: -1;
  text-align: center;
  -webkit-animation: loading__spinner 1s 3 ease-out,  spinner__rotation 1s 3;
          animation: loading__spinner 1s 3 ease-out,  spinner__rotation 1s 3;
}

body a {
  text-decoration: none;
  color: #000000;
}

header {
  position: relative;
}

header .container--text {
  background-color: #f2f2f2;
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 8px 2px rgba(3, 3, 3, 0.2);
          box-shadow: 0px 1px 8px 2px rgba(3, 3, 3, 0.2);
}

header .container--text .button {
  height: 30px;
  width: 50px;
  border: none;
  position: absolute;
  background-color: none;
  left: 0;
  top: 0;
  margin-top: 23px;
  margin-left: 10px;
}

header .container--text .button i {
  font-size: 20px;
}

header .container--text .logo--black {
  font-family: 'Shrikhand', cursive;
  font-size: 22px;
}

header .container--image {
  height: 250px;
  background-color: aqua;
  position: absolute;
  z-index: -1;
}

header .container--image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #313131;
  padding: 20px;
}

footer .logo--white {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
}

footer .footer__description {
  font-size: 14px;
}

footer .footer__description .description {
  line-height: 25px;
  color: #ffffff;
}

footer .footer__description .description .hands {
  font-size: 14px;
}

footer .footer__description .description .ustensils {
  margin-right: 5px;
  font-size: 16px;
}

/*STYLES PAGE ACCUEIL START*/
/* localisation fait partie de la section header*/
.localisation {
  background-color: #e4e3e3;
  padding: 12px;
  color: #242424;
  text-align: center;
}

.localisation i {
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: 150px;
}

.localisation .city {
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
}

.search {
  background-color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;
}

.search h2 {
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 10px;
}

.search p {
  font-size: 18px;
  margin-bottom: 25px;
}

.search button {
  margin-bottom: 30px;
  border: none;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 17px;
  padding: 15px 25px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
}

.search button:hover {
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9256dce7), to(#ff79d9e7));
  background-image: linear-gradient(0deg, #9256dce7, #ff79d9e7);
}

.fonctionnement {
  padding: 30px 25px;
  padding-top: 45px;
}

.fonctionnement h3 {
  font-size: 26px;
  font-weight: bold;
  color: black;
}

.fonctionnement .btn__container {
  text-align: center;
  padding: 25px 0px;
}

.fonctionnement .btn__container button {
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  border-radius: 18px;
  -webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
}

.fonctionnement .btn__container button .number {
  background-color: #9356DC;
  color: #ffffff;
  padding: 3px 8px;
  padding-top: 5px;
  font-weight: normal;
  font-size: 16px;
  border-radius: 30px;
  position: absolute;
  left: 0;
  margin-left: -10px;
}

.fonctionnement .btn__container button i {
  font-size: 20px;
  color: #727272;
  margin-left: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: 260px;
}

.fonctionnement .btn__container button .step {
  margin-left: 15px;
}

.fonctionnement .btn__container button .first {
  margin-left: 30px;
}

.fonctionnement .btn__container button:hover {
  background-color: #eee0ff;
}

.fonctionnement .btn__container button:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 30px 25px;
}

.restaurants h3 {
  font-size: 26px;
  font-weight: bold;
  color: black;
}

.restaurants .card__description {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.restaurants .card__description .card {
  position: relative;
  background-color: #ffffff;
  height: 230px;
  border-radius: 14px;
  padding-bottom: 15px;
  -webkit-box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.restaurants .card__description .card::after {
  content: '';
  position: absolute;
  right: 0;
  opacity: 0;
  left: 0;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 80%;
  border-radius: 14px;
}

.restaurants .card__description .card .card__image {
  height: 75%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  z-index: 1;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.restaurants .card__description .card .description--resto {
  margin: 8px;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.restaurants .card__description .card .description--resto h4 {
  font-size: 17px;
  font-weight: bold;
}

.restaurants .card__description .card .description--resto p {
  margin-top: 2px;
  font-size: 15px;
}

.restaurants .card__description .card .nouveau {
  background-color: #99E2D0;
  position: absolute;
  right: 0;
  z-index: 2;
  margin: 12px;
  padding: 8px 15px;
  border-radius: 2px;
  color: #009569;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 1px 0px #99E2D0;
          box-shadow: 1px 1px 1px 0px #99E2D0;
}

.restaurants .card__description .card:hover::after {
  opacity: 0.3;
  z-index: 4;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.restaurants .card__description button {
  position: absolute;
  top: 0;
  margin-top: 215px;
  right: 0;
  margin-right: 10px;
  background-color: #ffffff;
  height: 40px;
  width: 50px;
  border: none;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.restaurants .card__description button i {
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin-top: 10px;
}

.restaurants .card__description button .fill {
  height: 0px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  color: transparent;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.restaurants .card__description button:hover .fill {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heart-fill 1.5s;
          animation: heart-fill 1.5s;
  height: 30px;
}

.restaurants .card__description button:hover .empty {
  color: transparent;
}

/*STYLES PAGE ACCUEIL START*/
/*STYLES PAGES MENU START*/
/* animations apparitions en cascade */
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shadow-b {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes shadow-b {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
  }
}

section {
  padding: 25px 20px;
  background-color: #f0f0f0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: 210px;
  /*boutton commander*/
}

section .restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

section .restaurant h2 {
  font-family: 'Shrikhand',cursive;
  font-size: 22px;
}

section .restaurant button {
  position: absolute;
  background-color: transparent;
  right: 0;
  bottom: 0;
  margin-bottom: 18px;
  margin-right: 5px;
  height: 30px;
  width: 40px;
  border: none;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section .restaurant button i {
  font-size: 27px;
  position: absolute;
}

section .restaurant button .fill {
  height: 0px;
  color: transparent;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section .restaurant button:hover {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section .restaurant button:hover .fill {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heart-fill 1.5s;
          animation: heart-fill 1.5s;
  height: 27px;
}

section .restaurant button:hover .empty {
  color: transparent;
}

section .menu {
  background-color: #f0f0f0;
}

section .menu .item {
  padding-top: 20px;
  padding-bottom: 20px;
}

section .menu .item h3 {
  font-size: 16px;
  width: 50px;
  padding-bottom: 2px;
  border-bottom: #6ddab9 solid 2px;
}

section .menu .item .container--cards {
  margin-right: 25px;
  width: 100%;
  /*animation des cartes apparition ouverture page*/
}

section .menu .item .container--cards .card {
  background-color: #ffffff;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 1px 8px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section .menu .item .container--cards .card::after {
  content: '';
  position: absolute;
  right: 0;
  opacity: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  width: 100%;
  height: 80px;
}

section .menu .item .container--cards .card--dish {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card--dish h4 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

section .menu .item .container--cards .card--dish .infoPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .menu .item .container--cards .card--dish .infoPrice p {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card--dish .infoPrice .price {
  font-size: 14px;
  margin-right: 15px;
  font-weight: bold;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card .checked {
  background-color: #6ddab9;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 0%;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card .checked i {
  color: #ffffff;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 32%;
  font-size: 22px;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .card--dish {
  width: 80%;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .card--dish .infoPrice p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .card--dish .infoPrice .price {
  -webkit-transition: all 800ms;
  transition: all 800ms;
  margin-right: 5px;
}

section .menu .item .container--cards .card:hover .checked {
  width: 60px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .card:hover .checked i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .menu .item .container--cards .first {
  -webkit-animation: slide-in 1s ease-out 100ms, shadow-b 1s;
          animation: slide-in 1s ease-out 100ms, shadow-b 1s;
}

section .menu .item .container--cards .first::after {
  -webkit-animation: fade-out 2s;
          animation: fade-out 2s;
}

section .menu .item .container--cards .second {
  -webkit-animation: slide-in 1s ease-out 250ms, shadow-b 1.5s;
          animation: slide-in 1s ease-out 250ms, shadow-b 1.5s;
}

section .menu .item .container--cards .second::after {
  -webkit-animation: fade-out 2.5s;
          animation: fade-out 2.5s;
}

section .menu .item .container--cards .third {
  -webkit-animation: slide-in 1s ease-out 300ms, shadow-b 2s;
          animation: slide-in 1s ease-out 300ms, shadow-b 2s;
}

section .menu .item .container--cards .third::after {
  -webkit-animation: fade-out 3s;
          animation: fade-out 3s;
}

section .menu .item .container--cards .fourth {
  -webkit-animation: slide-in 1s ease-out 350ms, shadow-b 2.5s;
          animation: slide-in 1s ease-out 350ms, shadow-b 2.5s;
}

section .menu .item .container--cards .fourth::after {
  -webkit-animation: fade-out 3.5s;
          animation: fade-out 3.5s;
}

section .btn {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

section .btn .commander {
  border: none;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
  padding: 15px 60px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
}

section .btn .commander:hover {
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9256dce7), to(#ff79d9e7));
  background-image: linear-gradient(0deg, #9256dce7, #ff79d9e7);
}

/*STYLES PAGES MENU END*/
@media screen and (min-width: 450px) {
  section .menu .item .container--cards .card:hover .card--dish {
    width: 90%;
  }
}

@media screen and (min-width: 750px) {
  .load .fa-spinner {
    font-size: 80px;
  }
  footer {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
  }
  footer .logo--white {
    font-size: 20px;
    line-height: 0px;
    margin-top: 10px;
  }
  footer .footer__description {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1000px) {
  header .container .button i {
    font-size: 28px;
    margin-top: 4px;
  }
  header .container .logo--black {
    font-size: 30px;
  }
  header .container .container--image {
    height: 560px;
    top: 0;
  }
  /* pages accueil start*/
  .localisation i {
    font-size: 18px;
    margin-right: 170px;
  }
  .localisation .city {
    font-size: 18px;
  }
  .search h2 {
    font-size: 30px;
  }
  .search p {
    font-size: 17px;
  }
  .search button {
    width: 300px;
    height: 60px;
    border-radius: 40px;
    font-size: 20px;
  }
  .fonctionnement .btn__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fonctionnement .btn__container button {
    width: 31%;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants .container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurants .container__cards .card__description {
    width: 47%;
  }
  /* pages accueil end*/
  /* pages menu start*/
  section {
    margin-top: 450px;
  }
  section .restaurant {
    margin-bottom: 30px;
    position: relative;
    padding-top: 0px;
  }
  section .restaurant h2 {
    font-size: 30px;
    margin-top: 10px;
  }
  section .restaurant button {
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 33px;
  }
  section .restaurant button i {
    font-size: 35px;
  }
  section .restaurant button:hover .fill {
    height: 35px;
  }
  section .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .menu .item {
    width: 32%;
  }
  section .menu .item h3 {
    font-size: 18px;
  }
  section .menu .item .container--cards .card--dish {
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all 800ms;
    transition: all 800ms;
  }
  section .menu .item .container--cards .card--dish h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all 800ms;
    transition: all 800ms;
  }
  section .btn {
    margin-top: 40px;
    text-align: center;
  }
  section .btn .commander {
    padding: 0px;
    width: 220px;
    height: 55px;
    border-radius: 40px;
    font-size: 22px;
  }
  /* pages menu end*/
}

@media screen and (min-width: 1200px) {
  /* pages menu sur desktop start*/
  section .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .menu .item {
    width: 32%;
  }
  section .menu .item h3 {
    font-size: 20px;
  }
  /* pages menu sur desktop end*/
}
/*# sourceMappingURL=style.css.map */