/*css-reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

body{
    font-family: 'Roboto';

    a{
        text-decoration: none;
        color: #000000;
    }
}

header{
    
    .container{
        &--text{
            background-color: #f2f2f2;
            padding:15px;
            text-align: center;
            box-shadow: 1px 2px 8px 2px rgb(3, 3, 3);
            
            i{
                position: absolute;
                left: 0;
                top: 0;
                padding-left: 20px;
                padding-top: 25px;
                font-size: 20px;
            }
            .logo--black{
                font-family: 'Shrikhand', cursive;
                font-size: 25px;
            }
        }
        &--image{
            height: 250px;
            background-color: aqua; 
            position: absolute;
            z-index: -1;

         
            img{
                height: 100%;
                width: 100%;    
                object-fit: cover;
            }
        }
    }
}

@mixin card{
    background-color: #ffffff;
    margin-top: 18px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
 
}
@mixin dish{
    width: 75%;
    background-color: blueviolet;
    margin: 4px;
    transition: all 1s;
}
@mixin dish-h4 {
    font-size: 18px;
    font-weight: bold;   
}

@mixin dish-p {
    text-overflow: ellipsis;
}

@mixin price {
    background-color: brown;
    padding-top: 20px;  
    margin-right: 5px;
    transform: translateX(100%);
    transition: all 1s;
}

@mixin checked {
    background-color: chartreuse;
        padding-top: 20px;
        text-align: center;
        width: 80px; 
        transform: translateX(100%);
        transition: all 1s;
}

@mixin checked-icon{
    color: #ffffff;  
    transform: rotateX(0deg);   
    transition: all 1s;
}

section{
    padding: 25px 15px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: 210px;
    .restaurant{
        display: flex;
        justify-content: space-between;
        h2{
            font-family: 'Shrikhand',cursive;
            font-size: 22px;
        }
        i{
            position: absolute;
            right: 0;
            margin-right: 20px;
            font-size: 22px;
        }
    }
    .menu{
        background-color: rgb(255, 255, 255);
        .item{
            padding-top: 20px;
            padding-bottom: 20px;
            h3{
                font-size: 18px;
                width: 50px;
                padding-bottom: 2px;
                border-bottom:#6dda7c solid 2px;
            }
            .container--cards{

                .card{
                    background-color: #ffffff;
                    margin-top: 18px;
                    display: flex;
                    border-radius: 10px;
                    overflow: hidden;
                    width: 80%;
                    box-shadow: 2px 1px 8px 2px rgba(0, 0, 0,0.2);
                    &::after{
                        content: '';
                        position: absolute;
                        right: 0;
                        left: 0;
                        opacity: 0;
                        background-color: rgb(255, 255, 255);
                        width: 100%;
                        height: 80px;
                    }
                   
              
                   &--dish{
                        width: 75%;
                        margin: 4px;
                        transition: all 800ms;
                    
                      h4{
                        font-size: 18px;
                        font-weight: bold;   
                      }
                      p{
                        text-overflow: ellipsis;
                      }
                   }
                    &--price{
                            padding-top: 20px;  
                            margin-right: 5px;
                            transform: translateX(100%);
                            transition: all 800ms;
                    }
                    &--checked{
                            background-color: rgb(109, 218, 124);
                            padding-top: 18px;
                            text-align: center;
                            width: 80px; 
                            transform: translateX(100%);
                            transition: all 800ms;
                        
                        i{
                            color: #ffffff;  
                            font-size: 22px;
                            transform: rotateX(0deg);   
                            transition: all 800ms;
                        }
                    }  
                          
                }
                .card:hover{
                    .card--dish{
                      width: 70%;
                      transition: all 800ms;
                       
                    }
                    .card--price{
                        transform: translateX(0%);
                        transition: all 800ms;
                    }
                    .card--checked{
                        transform: translateX(0%);
                        transition: all 800ms;
                        i{
                            transform: rotate(360deg);
                            transition: all 800ms;
                        }
                    }
                }      

                /*animation des cartes au hover*/
                .first{
                    animation: slide-in 1s ease-out 50ms, shadow-b 1s ;
                    &::after{
                        animation: fade-out 1s;
                    }
                }
                .second{
                    animation: slide-in 1s ease-out 200ms, shadow-b 1.5s;
                    &::after{
                        animation: fade-out 1.5s;
                    }
                }
                .third{
                    animation: slide-in 1s ease-out 250ms, shadow-b 2s ;
                    &::after{
                        animation: fade-out 2s;
                    }
                }            
    }

/* keyframes pour les animations apparitions en cascade */
    @keyframes slide-in {
        0%{
            transform: translateY(12px);
        }
     
        100%{
            transform: translateY(0px);
        }     
    }
    
    @keyframes fade-out {
    0%{
        opacity: 1;
    }
  
    100%{
        opacity: 0;
    }    
  
        
    }
    @keyframes shadow-b {
        from{
           box-shadow: none; 
        }
        to{
        box-shadow: 2px 1px 8px 2px rgba(0, 0, 0,0.2);
        }       
    }
    


    .btn{
        text-align: center;
        background-color: crimson;
        button{
            border: none;
            font-family: 'Roboto';
            font-size: 18px;
            padding: 18px;
            border-radius: 30px;
        }
    }

        }
    }
}


footer{
    background-color: rgb(49, 49, 49);
    padding: 20px;
   

    .logo--white{
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        margin-bottom: 10px;
        color: #ffffff;
    }
    .footer__description{
        font-size: 15px;
       

        .description{
            line-height: 20px; 
            color: #ffffff;

            .hands{
               font-size: 16px;
            }
            .ustensils{
                margin-right: 5px;
                font-size: 18px;
            }
        }
    }

  
}

